# RazorPay dev
RAZORPAYID=
RAZORPAYSECRET=
# RazorPay live
# RAZORPAYID = rzp_live_Szcz3SO82Ats0q    
# RAZORPAYSECRET = xgGSRDS73TiTvw2ffMOCFkBj
# DB Configuration
DBHOST=
DBUSER=
DBPASSWORD=
DATABASE=
# DB Configuration Dev
# DBHOST=taskopad-dev-database.cxuqpmz3gbzn.ap-south-1.rds.amazonaws.com
# DBUSER=taskopad-user
# DBPASSWORD=XDcBBU2SpBCXABqXe5
# DATABASE=taskopad_dev
# DB Configuration stage
# DBHOST=taskopad-dev-database.cxuqpmz3gbzn.ap-south-1.rds.amazonaws.com
# DBUSER=taskopad-user
# DBPASSWORD=XDcBBU2SpBCXABqXe5
# DATABASE=taskopad_stage
# DB Configuration demo
# DBHOST=taskopad-database.cxuqpmz3gbzn.ap-south-1.rds.amazonaws.com
# DBUSER=taskopad-user
# DBPASSWORD=awXG9fZdVqLpkh4TeL
# DATABASE=TaskOPad_Demo
# DB Configuration prod
# DBHOST=taskopad-database.cxuqpmz3gbzn.ap-south-1.rds.amazonaws.com
# DBUSER=taskopad-user
# DBPASSWORD=awXG9fZdVqLpkh4TeL
# DATABASE=TaskOPad_Prod
# Server Environment
NODE_ENV=development
PORT=3000
# Security
JWT_SECRET=
# AWS
AwsS3Bucket=
AwsAccessKey=
AwsSecretAccessKey=
AwsRegion=
ENV_CHECKS_FOR_MAIL=
EXCEPTION_MAIL=
# SEND MAIL WITH LINK
VERIFY_MAIL_LINK=
PASSWORD_RESET_MAIL_LINK=
EMPLOYEE_INVITE_MAIL_LINK=
TASK_LISTING=
PROJEC_LISTING=
PWA_PATH=
# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER_NAME=
SMTP_PASSWORD=
# MAIL
default_from=
default_reply_to=
# Media Server
MEDIA_SERVER=
MEDIA_SERVER_PATH=
# Socket
CHAT_SOCKET="chatSocket"
#FCM
#SERVER_KEY=AAAAiTia1_g:APA91bESZya9zAMvwB5fv30wQXbNcYgcb7dXLOl9ArQocS1v0k3gIYn_CMGN_P8NETLh3wDI8Cmulw9y1L9IU26l4md2FnV8IdxPYuA_gkB_2AyhgXnFzkSwLfaB3zVOzmMfjFb2Dx1f
SERVER_KEY=
#SERVER_KEY=AAAA0drVcK8:APA91bH5JQLhwtqC9nnIHgLlOEF--vyULa_ZW3orPfFig_ofFXc-b6wqzMIowQSEGuEUjZHFjAegBYrboKx5wEy_xvVCQ-msEGQMZ_aCREicLgLZSfUIGJT-j3Iipedc21nh_VeBaoQI